body{
    color: #40514E;
    margin: 0;
    
    text-align: center;
    position: relative;
    font-family: 'Merriweather', serif;

}

p{
    line-height: 2;
}
h1{

    margin-top: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /*1em = 16px = 1rem(use this recommended) = 100%*/ /*for 90px , 90/16 = 5.625*/
    margin: 50px, auto,0,auto;
    color: #66BFBF;
    line-height: 2;
   
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;/*for 40px, 40/16 =2.5*/
   /* margin: 50px,auto;*/
   color: #66BFBF;
   font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration:none ;
    
}
a:hover{
    color: #eaf6f6;

}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    margin: auto auto 94px;
}
.profile{
    margin: auto auto 94px;
}
.top-cloud{
    position: absolute;
    right: 350px;
    top: 50px;
    
}

.middle-cloud
{
    position: absolute;
    left: 400px;
    bottom: 300px;
}



.btn{
    color: #11999E;
}
.skills{
    margin: 94px auto 94px auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.skills_images1{
    width :25%;
    float: left;
    margin: 30px;

}
.skills_images2{
    width :25%;
    float: right;
    margin-left: 30px;

}

.profile_image{
    width: 12.5rem;
    height: 12.5rem;
}

.contact-me
{
    margin: 94px auto;
}
/*.skils-text{
    text-align: left;
}*/

/*.middle-container{
   
}

.bottom-container{
 
}

*/

.btn {
  
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  hr{
    
    border-style: dotted none none none;
    width : 7%;
    border-width: 5px;
    border-color: grey;


  }

  .bottom-container{
  
   background-color: #66BFBF;
   height: 10rem;
   line-height: 3;
   
}
.footer-link
{
    margin-left: 50px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px ;
    font-family: 'Montserrat', sans-serif;
}